*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(163, 163, 163);
}

header{
    background-color: black;
}

.capa{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

header nav{
    display: flex;
    gap: 30px;
    justify-content: center;
}

header nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.h-d{
    color: black;
    padding: 20px 0;
}

.h-e{
    padding: 20px;
}

.fundo-d{
    background-color: #fcfcfc;
}

.direita{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}

.esquerda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}

section p{
    width: 750px;
}

.espaco-d{
    padding-left: 100px;
}

.espaco-e{
    padding-right: 100px;
}

.img-d{
    padding: 0 20px 20px 0;
}

.img-e{
    padding: 0 0px 20px 20px;
}

footer{
    background-color: #000;
    width: 100%;
}

footer nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

footer nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}